# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
kitty_env/
memory/memory-env/
tools/litellm/venv/

# Chroma
chroma/
memory/chroma/

# Logs
logs/
*.log

# VS Code
.vscode/

# Linux
.DS_Store

# Caches
.cache/
.pytest_cache/

# Ollama
*.gguf
*.bin
*.safetensors

# Local memory
memory/context/
memory/database/
